{% include controls/home %}
<h2>Scatter Plots</h2>
<div>
  This visualization uses scatter plots to show the sort.
</div>
<article class="sorting">
  <div class="controls clear">
    <div>
      {% include controls/sort %}
      {% include controls/count %}
      {% include controls/order %}
      {% include controls/values %}
    </div>
    {% include controls/runButtons %}
  </div>
  <div id="boards"></div>
</article>

<style>
  #content {
    width: 90%;
    max-width: none;
  }
</style>

