<label>
  Point count:
  <select id="size">
    {% for pair in sizes %}
      <option value="{{ pair[0] }}"
        {% if defaults.count == pair[0] %}
          selected
        {% endif %}
      >{{ pair[1].label }}</option>
    {% endfor %}
  </select>
<label>
