<label>
  Order:
  <select id="order">
    {% for pair in shuffles %}
      {% if pair[1].title %}
        <option value="{{ pair[0] }}"
          {% if defaults.shuffle == pair[0] %}
            selected
          {% endif %}
        >{{ pair[1].title }}</option>
      {% endif %}
    {% endfor %}
  </select>
<label>
