<label>
  Values:
  <select id="value-type">
    {% for pair in valueTypes %}
      <option value="{{ pair[0] }}"
        {% if defaults.valueType == pair[0] %}
          selected
        {% endif %}
      >{{ pair[1].title }}</option>
    {% endfor %}
  </select>
<label>
